In [2]:
import pandas as pd

In [3]:
stock = pd.read_excel('data/stock.xlsx')
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929     Смартфон Xiaomi Redmi 6A 16GB     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998          Смартфон HUAWEI P30 lite     33
8  100481008     Смартфон Xiaomi Redmi 6A 16GB      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

#### 1. Посчитайте количество дубликатов в столбце 'item', вызвав методы duplicated() и sum().

In [7]:
print('Кол-во дубликатов', stock['item'].duplicated().sum())

Кол-во дубликатов 3

#### 2. Примените метод value_counts() к столбцу 'item'.

In [8]:
stock['item'].value_counts()

Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Name: item, dtype: int64

#### 3. Начните собирать данные для новой таблицы уже без дубликатов. Посчитайте количество телефонов марки Xiaomi Redmi на складе и сохраните его в переменной xiaomi.

In [12]:
xiaomi = stock[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()  #44

#### 4. Найдите количество смартфонов HUAWEI и сохраните его в переменной huawei.

In [14]:
huawei = stock[stock['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()  #38

#### 5. Удалите дубликаты из столбца item, «перезаписав» его.

In [15]:
stock['item'] = stock['item'].drop_duplicates()
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

#### 6. Удалите пропуски из таблицы методом dropna() и восстановите индексы методом reset_index()

In [16]:
stock = stock.dropna().reset_index(drop=True)
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

#### 7. Замените количество телефонов Xiaomi — значение в столбце 'count' — на переменную xiaomi. Замените количество телефонов HUAWEI — значение в столбце 'count' — на переменную huawei.

In [19]:
stock.loc[0, 'count'] = xiaomi
stock.loc[3, 'count'] = huawei

stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

#### 8. Переведите названия моделей в нижний регистр методом str.lower(). Сохраните их в новом столбце 'item_lowercase'.

In [22]:
stock['item_lowercase'] = stock['item'].str.lower()
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480952,смартфон Samsung Galaxy A30 32gb,11,смартфон samsung galaxy a30 32gb
3,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
4,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
5,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb
6,100481020,Смартфон Apple iPhone Xr 64GB,19,смартфон apple iphone xr 64gb

#### 9. B столбце 'item_lowercase' посчитайте количество дублей для каждой модели телефона методом value_counts()

In [26]:
print('Дубликаты\n', stock['item_lowercase'].value_counts())

Дубликаты
 смартфон apple iphone xr 64gb       2
смартфон samsung galaxy a30 32gb    2
смартфон huawei p30 lite            1
смартфон honor 8x 64gb              1
смартфон xiaomi redmi 6a 16gb       1
Name: item_lowercase, dtype: int64

#### 10. Сохраните количество телефонов Apple в переменной apple. Сохраните количество телефонов Samsung в переменной samsung

In [31]:
apple = stock[stock['item_lowercase'] == 'смартфон apple iphone xr 64gb']['count'].sum() #29
samsung = stock[stock['item_lowercase'] == 'смартфон samsung galaxy a30 32gb']['count'].sum() #60

#### 11. Удалите дубликаты в столбце 'item_lowercase', «перезаписав» его. Удалите пропуски.

In [34]:
stock['item_lowercase'] = stock['item_lowercase'].drop_duplicates()
stock = stock.dropna().reset_index(drop=True)
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb

#### 13. Замените количество телефонов Apple в таблице, т.е. значение в столбце 'count', на переменную apple.Замените количество телефонов Samsung в таблице — значение в столбце 'count' — на переменную samsung.

In [35]:
stock.loc[1, 'count'] = samsung
stock.loc[3, 'count'] = apple

stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,60,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,29,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb