In [2]:
import pandas as pd

#### 1.Прочитайте файл music_log.csv и сохраните его данные в переменной df. Создайте переменную shape_table и сохраните в ней размеры таблицы music_log.csv. Напечатайте на экране размер таблицы

In [3]:
df = pd.read_csv('data/music_log.csv')

In [8]:
shape_table = df.shape
print("Размер таблицы", shape_table)

Размер таблицы (67963, 5)

#### 2.Сохраните в observations_table количество строк таблицы. Для этого получите первый элемент из кортежа shape_table. Выведите результат на экран

In [9]:
observations_table = shape_table[0]
print("Количество строк", observations_table)

Количество строк 67963

#### 3.Вызовите метод info(). Найдите в его выводе количество наблюдений (количество строк таблицы, вы выводили его на экран в предыдущей задаче).

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67963 entries, 0 to 67962
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0     user_id   67963 non-null  object
 1   total play  67399 non-null  float64
 2   Artist      59647 non-null  object
 3   genre       64661 non-null  object
 4   track       64804 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.6+ MB

#### 4.Из таблицы в переменной df извлеките два столбца: genre и Artist. Результат сохраните в genre_fight. Тогда print() выведет результат на экран.

In [15]:
genre_fight = df[['genre', 'Artist']]
print(genre_fight)

         genre        Artist
0          pop    Marina Rei
1      ambient  Stive Morgan
2      ambient  Stive Morgan
3        dance           NaN
4          pop        Rixton
...        ...           ...
67958      pop  Nadine Coyle
67959    dance  Digital Hero
67960    metal       Red God
67961      pop  Less Chapell
67962      NaN           NaN

[67963 rows x 2 columns]

#### 5.Добавьте в код подсчёт треков жанра «поп». С помощью логической индексации получите ячейки со значением 'pop' и посчитайте их методом count().Результат сохраните в переменной genre_pop. Напечатайте его на экране

In [30]:
genre_pop = df.loc[df.loc[:,'genre'] == 'pop']['genre'].count()
#genre_pop =  df[df['genre'] == 'pop']['genre'].count()
print("Число прослушанных треков в жанре поп равно", genre_pop)

Число прослушанных треков в жанре поп равно 8599

#### 6.Из df получите таблицу только с жанром rock и сохраните её в переменной rock.Выделите время прослушивания роковых композиций в особую структуру данных. Сохраните колонку total play таблицы rock в переменной rock_time.

In [33]:
rock =  df[df['genre'] == 'rock']
rock_time = rock['total play']
print(rock_time)

35       134.112625
39         3.663453
45         0.100000
49         6.000000
50       378.644898
            ...
67931     10.553495
67934     38.216000
67941    197.616327
67942    236.277551
67955    185.000000
Name: total play, Length: 6811, dtype: float64

#### 7.Посчитайте треки в rock_time, которые слушали пять секунд или менее. Это пропущенные композиции: пользователи начинали их слушать, но быстро выключали.

In [36]:
skipped = rock[rock['total play'] <= 5]['total play'].count()
print(skipped)

2272

#### 8.Выберите в таблице df только строки с жанром 'pop' и сохраните эту новую таблицу в переменной pop.Из таблицы pop извлеките столбец total play и сохраните его в переменную pop_time.Посчитайте треки в pop_time, которые слушали пять секунд или менее. Это пропущенные композиции: пользователи начинали их слушать, но быстро выключали. Результат сохраните в переменной pop_haters

In [38]:
pop =  df[df['genre'] == 'pop']
pop_time = pop['total play']
pop_haters = pop_time[pop_time <= 5].count()
print(pop_haters)

2974

### Срезы
#### Поочередно вывести корабли

In [4]:
df = pd.read_csv('data/game_board.csv')
print(df)

   A  B  C  D  E  F  G  H  J
0  0  0  0  0  0  0  0  0  1
1  0  1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0
5  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  1  0
7  0  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  1  0
9  0  0  0  0  0  0  0  1  0

In [21]:
one_deck = df.loc[0, 'J']
print("Однопалубный:", one_deck)

Однопалубный: 1

In [19]:
three_deck_loc = df[1:4] #срез строк (4 не включено)
three_deck = three_deck_loc['B']
print("Трехпалубный:\n", three_deck)

Трехпалубный:
 1    1
2    1
3    1
Name: B, dtype: int64

In [30]:
four_deck_1 = df.loc[5:5, 'C':'F']
print("Четырехпалубный 1:\n", four_deck_1)

Четырехпалубный 1:
    C  D  E  F
5  1  1  1  1

In [35]:
four_deck_2 = df[df['H'] == 1]['H'] # логическая индексация
print("Четырехпалубный 2:\n", four_deck_2)

Четырехпалубный 2:
 6    1
7    1
8    1
9    1
Name: H, dtype: int64